doctype html

html
	head
		title link
		link(rel='stylesheet' href='reset.css')
		link(rel='stylesheet' href='link.css')
		link(rel='stylesheet'
			href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		script(src='https://unpkg.com/vue@2.2.0/dist/vue.js')
	body
		.container
			.title link
			.subtitle shortener

			#app

		script(type='text/x-template')#app-template
			transition(name='swap-transition')
				component(:is='currentView')

		script(type='text/x-template')#start-template
			.start-c.comp-c
				input.paste-input(
					type='text'
					placeholder='paste here...'
					v-model='$parent.urlInputValue'
					v-on:keydown.enter='$parent.submit')

				button.paste-submit(
					v-if='$parent.urlInputValue.length > 0'
					v-on:click='$parent.submit')
					i.fa.fa-arrow-right

		script(type='text/x-template')#loading-template
			.loading-c.comp-c
				i.fa.fa-circle-o-notch

		script(type='text/x-template')#finish-template
			.finish-c.comp-c
				a(:href='$parent.linkOutputValue').output
					| {{ $parent.linkOutputValue }}
				i.fa.fa-clipboard.output-copy(
					v-on:click='$parent.copylinkOutput')

		textarea.copy-area

		script(src='link.js')
