doctype html

html
	head
		title link
		link(rel='stylesheet' href='reset.css')
		link(rel='stylesheet' href='link.css')
		link(rel='stylesheet'
			href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		script(src='https://unpkg.com/vue@2.2.0/dist/vue.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
	body
		.container
			.title link
			.subtitle shortener

			.app-container
				#app

			.credits
				| created by 
				a(href='https://nikerino.com') nikersify

		script(type='text/x-template')#app-template
			transition(name='swap-transition')
				component(:is='currentView')

		script(type='text/x-template')#start-template
			.comp-container
				input.paste-input(
					type='text'
					placeholder='paste here...'
					v-model='$parent.urlInputValue'
					v-on:keydown.enter='$parent.submit')

				button.stylish-button.submit-button(
					v-if='$parent.urlInputValue.length > 0'
					v-on:click='$parent.submit')
					i.fa.fa-arrow-right

		script(type='text/x-template')#loading-template
			.comp-container
				i.loading-icon.fa.fa-circle-o-notch

		script(type='text/x-template')#finish-template
			.comp-container
				a(:href='$parent.linkOutputValue').output
					| {{ $parent.linkOutputValue }}
				i.fa.fa-clipboard.output-copy(
					v-on:click='$parent.copylinkOutput')

				button.stylish-button(v-on:click='$parent.reset')
					i.fa.fa-arrow-left

				button.stylish-button(v-on:click='$parent.stats')
					i.fa.fa-line-chart

		script(type='text/x-template')#stats-template
			.comp-container
				.stats-cols
					.chart-switcher
						button.stylish-button.chart-button(
							v-on:click='$parent.finish')
							i.fa.fa-arrow-left

						button.stylish-button.chart-button(
							:id='"tab-" + tab.name + "-button"'
							v-bind:data-type='tab.name'
							v-bind:title='tab.name'
							v-bind:class='{ sel: tab.name.toLowerCase() === type }'
							v-on:click='tabSelect'
							v-for='tab of tabs')
							i.fa(:class='"fa-" + tab.icon')

					.chart-canvas
						canvas#chart

		textarea.copy-area

		script(src='link.js')
